@import "global";

body .c-about {
  // display: none;
  &__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 1fr;
    align-items: baseline;
    gap: @size-l;
  }

  &__title {
    #text-theme.heading-large;

    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    align-self: center;
  }

  &__info, &__skills {
    max-width: 576px;

    &__subtitle {
      #text-theme.heading-medium();

      margin-bottom: @size-l;
    }
  }

  &__info {
    text-align: justify;
    justify-self: flex-end;

    &__text {
      #text-theme.body-small;

      margin-bottom: @size-m;
      text-indent: 2em;


      strong {
        font-style: italic;
      }

      a {
        text-decoration: underline;
        font-style: italic;
        color: @color-light;
        cursor: pointer;
      }
    }
  }

  &__skills {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: @size-s;
      margin-bottom: @size-l;
    }

    &__item {
      background-color: rgba(@color-light, 25%);
      border-radius: @size-xxs;
      padding: @size-xs @size-s;
    }
  }
}

@media @max1200 {
}

@media @max992 {
  body .c-about {
    &__title {
      font-size: @text-xxl;
      margin-bottom: @size-l;
    }

    &__info,
    &__skills {
      &__subtitle {
        #text-theme.heading-small();

        margin-bottom: @size-m;
      }
    }

    &__skills {
      &__list {
        gap: @size-xs;
        margin-bottom: @size-m;
      }

      &__item {
        padding: @size-xxs @size-xs;
      }
    }
  }
}

@media @max768 {
  body .c-about {
    &__container {
      display: block;
    }

    &__info {
      &__text {
        margin-bottom: @size-s;
      }
    }

    &__info,
    &__skills {
      &__subtitle {
        #text-theme.heading-small();

        margin-bottom: @size-s;
      }
    }
  }
}

@media @max576 {}
