@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --cor-bg-principal: #4eaccf;
  --cor-bg-secundaria: #063447;
  --cor-bg-claro: #fff;
  --cor-bg-escuro: #292929;
  
  body {
    font-family: "Montserrat", sans-serif;
    color: #5f5f5f;
  }
}
