@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat', sans-serif;
}

li {
    list-style: none;
}

p {
    font-size: 14px;
}

.botao {
    background-color: #4EACCF;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 4px 24px;
}