#contato {
    align-items: center;
    background-color: #063447;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    justify-content: center;
}

#contato h2 {
    margin-bottom: 32px;
}

#contato div {
    width: 450px;
}

#contato p {
    margin-top: 16px;
    text-align: center;
}

#contato p:first-child {
    margin-top: 0;
}

#contato p:last-child {
    margin-top: 0;
    margin-bottom: 32px;
}

#contato li {
    display: inline;
    margin: 16px;
}