@import "global";

.c-contact {
  background-color: @color-dark;
  color: @color-light;

  &__container {
    #template.grid();

    min-height: calc(100vh - @header-height) !important;
  }

  &__title {
    #text-theme.heading-l();

    text-align: center;
  }

  &__content {
    width: 100%;
    max-width: 720px;
    align-self: baseline;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form div {
    margin-bottom: @size-l;
  }

  &__form div label {
    #text-theme.label-m();

    color: @color-light;
    display: block;
    margin-bottom: @size-s;
  }

  &__form div input,
  &__form div textarea {
    background-color: @color-dark;
    border: none;
    border-bottom: 1px solid @color-light;
    padding: @size-xs;
    width: 100%;
    outline: none;
    color: @color-light;

    &::placeholder {
      color: @color-light;
    }
  }

  &__form-name {
  }

  &__form-email {
  }

  &__form-message {
    margin-bottom: @size-xxl;
  }

  &__form-button {
    #theme-btn.flat-m();

    align-self: center;
    margin-bottom: @size-xxl;
  }
}

@media @max1200 {
}

@media @max992 {
}

@media @max768 {
}

@media @max576 {
}
