@import "global";

.c-footer {
  display: none;
  background-color: #color[dark];

  &__container {
    align-items: center;
    border-top: 1px solid rgba(#fff, .1);
    color: #color[light];
    display: flex;
    justify-content: space-between;
    padding: @size-xs @size-xxl;
  }
}
