@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// Variables
// font styles
@text-primary-font: "Ubuntu", sans-serif;
@text-secondary-font: "IBM Plex Mono", monospace;

// font sizes
@text-xs: 0.875rem; // 14px
@text-s: 1rem; // 16px
@text-m: 1.125rem; // 18px
@text-l: 1.25rem; // 20px
@text-xl: 1.5rem; // 24px
@text-xxl: 2rem; // 32px
@text-xxxl: 3rem; // 48px

// font weight
@text-light: 300;
@text-regular: 400;
@text-medium: 500;
@text-semi-bold: 600;
@text-bold: 700;
@text-extra-bold: 800;
@text-black: 900;

// size guide
@size-xxs: 4px;
@size-xs: 8px;
@size-s: 16px;
@size-m: 24px;
@size-l: 32px;
@size-xl: 48px;
@size-xxl: 64px;
@size-xxxl: 96px;

// logo size
@logo-size: 32px;

// navbar opened height
@navbar-opened-height: calc(@size-xl * 4);
@navbar-width: calc(@size-xl * 3);

// breakpoints
@max576: ~"(max-width: 576px)";
@max768: ~"(max-width: 768px)";
@max992: ~"(max-width: 992px)";
@max1200: ~"(max-width: 1200px)";

// header size
@header-height: 64px;

@container-height-header-extra-small: calc(100vh - @header-extra-small-height);
@container-height-header-small: calc(100vh - @header-small-height);
@container-height-header-medium: calc(100vh - @header-medium-height);
@container-height-header-large: calc(100vh - @header-large-height);
@container-height-header-extra-large: calc(100vh - @header-extra-large-height);

// card size
@card-width: 326px;
@card-height: 384px;

// colors
@color-dark: #000000;
@color-light: #ffffff;

#text-theme {
  .text() {
    font-family: @text-primary-font;
    font-weight: @text-regular
  }

  .heading-large {
    .text();

    font-size: 3rem; // 48px
  }

  .heading-medium {
    .text();

    font-size: 2rem; // 32px
  }

  .heading-small {
    font-size: 1.5rem; // 24px
  }

  .body-large {
    font-size: 1.25rem; // 20px
  }

  .body-medium {
    font-size: 1.125rem; // 18px
  }

  .body-small {
    font-size: 1rem; // 16px
    line-height: 1.5;
    font-family: @text-secondary-font;
  }

  .body-xsmall {
    font-size: 0.875rem; // 14px
  }
}

#theme-btn {
  .flat() {
    background-color: @color-light;
    border-radius: @size-xxs;
    border: none;
    color: @color-dark;
    display: inline-block;
    font-size: @text-s;
    padding: @size-xs @size-s;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }

  .flat-hover() {
    scale: 1.05;
  }

  .gradient() {
    .flat();
    background: linear-gradient(to right, rgba(@color-light, 1), rgba(@color-light, .5));
  }

  .rounded() {
    .flat();

    border-radius: @size-m;
  }

  .outline() {
    .flat();

    background-color: transparent;
    color: @color-light;
    border: 2px solid @color-light,

  }

  .ghost() {
    .outline();
  }

  .ghost-hover() {
    background-color: @color-light;
    color: @color-dark;
  }
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;

  body {
    background-color: @color-dark;
    color: @color-light;
    font-family: @text-primary-font;
  }
}

.c-home,
.c-about,
.c-projects,
.c-contact {
  padding-top: @header-extra-large-height;
  width: 100%;

  &__container {
    align-items: center;
    display: grid;
    min-height: @container-height-header-extra-large;
    justify-content: center;
    padding: @size-s @size-xxl;
  }
}

@media @max1200 {
  .c-home,
  .c-about,
  .c-projects,
  .c-contact {
    padding-top: @header-large-height;

    &__container {
      min-height: @container-height-header-large;
    }
  }
}

@media @max992 {
  .c-home,
  .c-about,
  .c-projects,
  .c-contact {
    padding-top: @header-medium-height;

    &__container {
      min-height: @container-height-header-medium;
    }
  }
}

@media @max768 {
  html body {
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: inherit;
  }

  .c-home,
  .c-about,
  .c-projects,
  .c-contact {
    padding-top: @header-small-height;

    &__container {
      min-height: @container-height-header-small;
    }
  }
}

@media @max576 {
  .c-home,
  .c-about,
  .c-projects,
  .c-contact {
    padding-top: @header-extra-small-height;

    &__container {
      min-height: @container-height-header-extra-small;
      padding: @size-s @size-l;
    }
  }
}
