#habilidades {
    align-items: center;
    background-color: var(--cor-bg-principal);
    color: var(--cor-bg-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}

#habilidades h2 {
    margin-bottom: 32px;
}

.stack {
    width: 350px;
}

.stack:first-child {
    margin-right: 80px;
}

.stack h1 {
    margin-bottom: 16px;
}

.stack p {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (min-width: 800px){
    #fullstack {
        display: flex;
        justify-content: center;
    }
}