@import "global";

.c-header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  &__container {
    align-items: center;
    display: flex;
    height: @header-extra-large-height;
    justify-content: space-between;
    padding: 0 @size-xxl;
  }


  &__logo {
    #logo-size.large();

    img {
      height: 100%;
      width: auto;
    }
  }

  &__button {
    display: none;
  }

  &__nav-links {
    display: flex;
    justify-content: end;
  }

  &__nav-link {
    color: #color[light];
    margin-left: @size-xs;
    padding: @size-xs;

    #text-theme.text-s;
  }

  &__nav-link:hover {
    color: #color[highlight];
  }
}

@media @max1200 {
  .c-header {
    &__container {
      height: @header-large-height;
    }
  }
}

@media @max992 {
  .c-header {
    &__container {
      height: @header-medium-height;
    }
  }
}

@media @max768 {
  .c-header {
    &__container {
      height: @header-small-height;
    }

    &__logo {
      #logo-size.medium();
    }

    &__button {
      align-content: space-between;
      background-color: transparent;
      border-radius: @size-xxs;
      border: 1px solid #color[light];
      cursor: pointer;
      display: grid;
      height: @size-m;
      padding: @size-xxs;
      position: absolute;
      right: @size-l;

      &>.button-icon {
        background-color: #color[light];
        height: @size-xxs;
        width: @size-l;
      }
    }

    &__button:hover {
      border-color: #color[highlight];

      &>.button-icon {
        background-color: #color[highlight];
      }
    }

    &__navbar-collapse {
      background-color: #color[dark];
      height: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: @size-l;
      text-align: right;
      top: @header-medium-height;
      transition: all 0.3s ease-in-out;
      width: 100vw;
    }

    &__navbar-collapse--open {
      height: @navbar-opened-height;
    }

    &__nav-links {
      display: grid;
      justify-content: end;
      padding: @size-s @size-l;
    }

    &__nav-item {
      width: calc(100vw - @size-xxl);
    }

    &__nav-link {
      display: block;
      height: @size-l;
    }
  }
}

@media @max576 {
  .c-header {
    &__container {
      height: @header-extra-small-height;
      padding: 0 @size-l;
    }

    &__logo {
      #logo-size.small();
    }
  }
}
