
header {
    background-image: url(../img/imagens/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 100%;
    color: #fff;
    height: 100vh;
}

#blur {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

#headline {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

#headline a {
    color: var(--cor-bg-claro);
    text-decoration: none;
}

#headline li {
    display: inline;
    margin-right: 16px;
}

#quem-sou {
    align-items: center;
    display: flex;
    height: 80%;
}

#redes-sociais-topo li {
    margin: 24px;
}

#descricao {
    width: 80%;
    display: flex;
    justify-content: center;
}

#descricao h1 {
    font-size: 3em;
    font-weight: 600;
}

#descricao h3 {
    margin: 8px 0;
    font-weight: 400;
}

#descricao p {
    font-size: 14px;
}