@import "global";

body .c-home {
  background: url(../img/home-bg.jpg);
  background-size: cover;
  background-position: center center;
  
  &__container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr @size-xxl;
    padding: @size-s;
  }

  &__about {
    align-items: center;
    display: flex;
    height: calc(48vh + @size-xxl + @size-s);
    justify-content: center;

    &-container {
      max-width: 800px;
      text-align: center;
    }

    &-presentation {
      #text-theme.heading-large();

      margin-bottom:@size-xxl;
    }

    &-description {
      #text-theme.body-small;
      text-align: justify;
      text-indent: 2em;
    }
  }

  &__social {
    position: relative;

    &-list::before, &-list::after {
      border-left: 1px solid rgba(@color-light, 25%);
      content: '';
      height: 20vh;
      left: @size-s;
      position: absolute;

    }
    &-list::before {
      top: -24vh;
    }

    &-list::after {
      bottom: -24vh;
    }

    &-item {
      border-radius: 2px;
      padding-bottom: @size-s;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-item:last-child {
      padding-bottom: 0;
    }

    &-icon {
      display: block;
      height: @size-l;
      width: @size-l;
    }
  }
}

@media @max1200 {}

@media @max992 {}

@media @max768{
  body .c-home {
    &__container {
      grid-template-columns: 1fr;
    }

    &__social {
      grid-row-start: 2;
      justify-self: center;
      align-self: baseline;

      &-list::before, &-list::after {
        display: none;
      }

      &-list {
        display: flex;
        gap: @size-l;
      }
    }

    &__about {
      height: 48vh;
    }

    &__about-hello {
      font-size: @text-xxl;
    }

    &__about-presentation {
      font-size: @text-xxl;
    }
  }
}

@media @max576 {}
