.c-skills {
    height: 50vh;
    margin-top: 56px;
    padding: 32px;

    &__title {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__container-icon {
        height: 56px;
        width: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 56px;
    }
}