#sobre {
    align-items: center;
    background-color: var(--cor-bg-secundaria);
    color: var(--cor-bg-claro);
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

#sobre img {
    border-radius: 50%;
    display: none;
    width: 100px;
}

figure {
    align-self: start;
}

#resumo {
    margin-left: 16px;
    width: 70vw;
    min-width: 300px;
}

#resumo p {
    margin: 24px 0;
    font-size: 14px;
}

#resumo ul {
    margin-bottom: 24px;
}

#resumo li {
    display: inline;
    font-size: 14px;
    margin-left: 8px;
}

#resumo li:first-child {
    margin: 0;
}

@media screen and (min-width: 800px) {
    #sobre img {
        display: inherit;
        width: 250px;
    }

    #resumo {
        width: 350px;
        margin-left: 80px;
    }

}

@media screen and (min-width: 900px) {
    #sobre img {
        width: 300px;
    }

    #resumo {
        width: 450px;
        margin-left: 80px;
    }
}