@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat', sans-serif;
}

li {
    list-style: none;
}

header {
    background-image: url(../img/imagens/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 100%;
    height: 100vh;
}

#blur {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

#headline {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

#headline li {
    display: inline;
    margin-right: 16px;
}

#quem-sou {
    color: #fff;
    align-items: center;
    display: flex;
    height: 80%;
}

#redes-sociais-topo li {
    margin: 24px;
}

#descricao {
    width: 80%;
    display: flex;
    justify-content: center;
}