<header class="c-header">
  <div class="c-header__container">
    <a class="c-header__logo" href="/"><img src="/img/D-Logo.svg" alt="Logo D" /></a>

    <button class="c-header__menu" type="button">
      <span class="c-header__menu__bar"></span>
      <span class="c-header__menu__bar"></span>
      <span class="c-header__menu__bar"></span>
    </button>

    <nav class="c-header__navbar-collapse" id="navbarToggler">
      <ul class="c-header__nav-links">
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="/#home">Inicio</a>
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="/#about">Sobre</a>
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="/#projects">Projetos</a>
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="/#contact">Contato</a>
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="/artigos">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
