<header class="c-header">
  <div class="c-header__container">
    <a class="c-header__logo" href="{{ '/' | relative_url }}"
      ><img src="{{ '/img/D-Logo.svg' | relative_url }}" alt="Logo D"
    /></a>

    <button class="c-header__menu" type="button">
      <span class="c-header__menu__bar"></span>
      <span class="c-header__menu__bar"></span>
      <span class="c-header__menu__bar"></span>
    </button>

    <nav class="c-header__navbar-collapse" id="navbarToggler">
      <ul class="c-header__nav-links">
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="{{'/#home' | relative_url }}"
            >Inicio</a
          >
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="{{'/#about' | relative_url }} "
            >Sobre</a
          >
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="{{'/#projects' | relative_url }}"
            >Projetos</a
          >
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="{{'/#contact' | relative_url }}"
            >Contato</a
          >
        </li>
        <li class="c-header__nav-item">
          <a
            href="{{ '/artigos' | relative_url }}"
            class="c-header__nav-link {% if page.url == '/artigos/' or page.layout == 'post' %}c-header__nav-link--current{% endif %}"
            >Blog</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
